body {
    background: url(https://source.unsplash.com/KK1hlAI2lgE);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Lobster', cursive;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.content {
    text-align: center;
    padding-top: 35px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
    font-weight: 700;
    font-size: 2em;
}

hr {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0,0.2)
}

html {
    height: 100%;
}

#ingredients {
    padding-top: 1.5em;
    padding-left: 3em;
}

